.cart_mask {
    width: 100vw;
    height: 100vh;
}
.cart_body {
    /* width: 150px; */
    height: 300px;
    background-color: rgb(214, 161, 111);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 3rem;
    border-radius: 0 0 0 20px;
}
.cart_close_image {
    position: absolute;
    top: 5px;
    right: 5px;
}
.cart-table {
    margin-top: 15px;
}
.cart-table th{
    padding: 5px;
}
